.calculator-div {
  margin-left: 200px;
  margin-top: 100px;
  background-color: black;
  color:white;
  width:300px;
  padding:10px;
  box-shadow: 5px 5px 5px 5px rgb(22, 22, 22);
  border-radius: 10px;
}
.calculate-button{
  margin-left: 50px;
  margin-bottom: 20px;
}
.calculate-button button {
  margin-right: 9px;
  margin-top: 7px;
  font-weight: bold;
  font-size: 20px;
 
}
.open-brace {
  padding: 10px 18px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
}
.x {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.module {
  padding: 10px 11px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
}
.seven {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
}
.eight {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
  margin-left: 2px;
}
.nine {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
}
.star {
  padding: 10px 16px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.four {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.five {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.six {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.minus {
  padding: 10px 16.5px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
  margin-left: 1px;
}
.one {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.two {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px  white;
  color: white;
  border: none;
  border-radius: 2px;
}
.three {
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.pluse {
  padding: 10px 14.5px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.over {
   padding: 10px 18px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.zero{
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.point{
  padding: 10px 18px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.equal{
  padding: 10px 14.5px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.calculate-h2{
  margin-left: 80px;
  font-family: arial;
  color:rgb(10, 95, 95);
}
.calculator-h2{
  margin-left: 90px;
  font-family: arial;
color:darkred;
}
.calculate-p{
  font-family: arial;
  font-size: 25px;
  margin-left: 20px;
}