.calculator-div {
  margin-left: 300px;
  margin-top: 100px;
}
.calculate-button button {
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
}
.open-brace {
  padding: 10px 18px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px 2px white;
  color: white;
  border: none;
  border-radius: 2px;
}
.x{
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px 2px white;
  color: white;
  border: none; 
  border-radius: 2px;

}
.module{
  padding: 10px 12px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px 2px white;
  color: white;
  border: none; 
  border-radius: 2px;

}
.seven{
  padding: 10px 15px;
  background-color: rgb(8, 8, 60);
  box-shadow: 1px 1px 1px 2px white;
  color: white;
  border: none;
  border-radius: 2px;
}